.navbar {
  background: transparent;
  height: 80px;
  display: flex;
  justify-content: center;
  font-weight: 700;
}
.navlink {
  color: #fff;
  font-size: 3rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}
.navicon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  color: #fff;
}

.navicon p {
  transform: translate(-175%, 100%);
  font-weight: bold;
}
.icon {
  font-size: 2rem;
  transform: translate(-50%, -15%);
}
